debug_level 3
gdb_port 50000
tcl_port 50001
telnet_port 50002
source [find interface/stlink-dap.cfg]
adapter speed 1000
set CHIPNAME STM32H7R7L8
set WORKAREASIZE 0x40000
set ENABLE_LOW_POWER 0
set STOP_WATCHDOG 1
reset_config none
# set CONNECT_UNDER_RESET 1
source [find target/stm32h7rx.cfg]
adapter speed 1000
STM32H7R7L8.cpu0 configure -ap-num 1
# init